*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    
}
body
{
}
.t1 
{
    
    width: 600px;
	height: 350px;
    align-self: center;
    align-content: center;
	box-sizing: border-box;
    border: 3px solid black;
    border-style: solid;
    background-color: blanchedalmond;
    text-align: center;
    margin: auto;
    margin-top: 10%;

    
}

.t1 .t2
{
    width: 500px;
	height: 250px;
	box-sizing: border-box;
    align-items: center;
    border: 3px solid black;
	overflow: hidden;
	margin:  auto;
    text-align: center;
    background-color: gray;

}
.t1 .t2 .t3
{
    width: 400px;
	height: 150px;
    align-content: center;
	box-sizing: border-box;
    border: 3px solid black;
	margin: 20px 50px ;
    border-style: solid;
    background-color:chocolate

}
.t1 .t2 .t3 .t4
{
    width: 300;
    height: 20px;
    align-content: center;
	box-sizing: border-box;
    border: 3px solid black;
	padding: 20px;
	margin: 30px 40px;
    background-color:green


}


